<%- include('header'); -%>

<h2>About ToDo</h2>
<p>ToDo is an app that lets you create lists of things to do.<br>I would not recommend trusting the site to preserve much of your data.</p>

<%- include('footer'); -%>
